{
  "parser": "babel-eslint",

  "ecmaFeatures": {
    "jsx": true
  },

  "env": {
    "es6": true,
    "jasmine": true,
    "browser": true,
  },

  "plugins": [
    "react",
    "react-native",
  ],

  "extends": "airbnb"
}
