{
  "parser": "babel-eslint",

  "ecmaFeatures": {
    "jsx": true
  },

  "env": {
    "es6": true,
    "jasmine": true,
    "browser": true,
  },

  "plugins": [
    "react",
    "react-native",
  ],

  "extends": "airbnb",

  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
